:root {
  --bg-color: #f2e3b6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Courier New", Courier, monospace;
}

#modal[data-house="Gryffindor"],
.one-student[data-house="Gryffindor"] {
  --primary-color: #7f0909;
  --secondary-color: #ffc500;
}

#modal[data-house="Hufflepuff"],
.one-student[data-house="Hufflepuff"] {
  --primary-color: #eee117;
  --secondary-color: #000000;
}

#modal[data-house="Slytherin"],
.one-student[data-house="Slytherin"] {
  --primary-color: #0d6217;
  --secondary-color: #aaaaaa;
}

#modal[data-house="Ravenclaw"],
.one-student[data-house="Ravenclaw"] {
  --primary-color: #000a90;
  --secondary-color: #946b2d;
}

.one-student {
  width: 80%;
  padding: 1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.modal-bg {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal {
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 90%;
  height: 70%;
  margin: auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#modal-header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 0;
  border: 5px solid var(--secondary-color);
  border-bottom: none;
}

#close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

#student-photo,
#housecrest {
  height: 80%;
}

#housecrest img,
#student-photo img {
  width: 100%;
  height: 100%;
}

#modal-body {
  display: flex;
  margin-top: 0;
  height: 75%;
}

#modal-body button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid black;
  font-size: 0.8rem;
  cursor: pointer;
}

#modal-body button:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, 0.2);
}

#base-info {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  font-size: 1.1rem;
  margin-left: 5rem;
  border-right: 1px solid var(--primary-color);
}

.base-info-names,
#base-info p {
  margin: 0.8rem 0 0.8rem 0;
}

.base-info-names {
  font-weight: bold;
  font-size: 1.2rem;
}

#additional-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  font-size: 1.1rem;
  margin-left: 5rem;
  line-height: 1.8rem;
}

#additional-info div {
  margin: 1rem 0 1rem 0;
}

.hide {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  height: 15%;
  top: 0;
  text-align: center;
  background-color: var(--bg-color);
}

#title-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#title-wrap {
  margin: 0.8rem 0 0.5rem 0;
}

#schoolcrest {
  height: 50px;
}
#schoolcrest img {
  height: 100%;
}

#select-wrap {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

#select-wrap button {
  font-size: 13px;
  font-weight: 700;
}

main {
  background-color: var(--bg-color);
  width: 100%;
  margin-top: 17vh;
  display: flex;
}

/* select elements styling from https://www.filamentgroup.com/lab/select-css.html */
select {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 1;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, var(--bg-color) 0%, #dbc49a 190%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
select option {
  font-weight: normal;
}

select:first-child {
  border-right: none;
}

#sort-direction {
  border-left: none;
}
header button {
  background-color: var(--bg-color);
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    #dbc49a 190%
  );
}
button[data-status="disabled"] {
  color: rgba(0, 0, 0, 0);
}

button[data-status="enabled"] {
  color: black;
}

#about-list {
  width: 15%;
  margin: 5rem 0 0 2rem;
  position: fixed;
  height: 50vh;
  display: grid;
  grid-template-columns: 5fr 1fr;
  font-size: 12px;
}

#about-list h2 {
  margin: auto auto 0 auto;
}

#studentlist {
  width: 80%;
  min-width: 400px;
  margin: auto;
  margin-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem 0 2rem;
  border-left: 1px solid black;
}

#searchbar {
  text-align: center;
  height: 5rem;
  width: 50%;
  font-size: 1.6rem;
  margin: auto;
}

body {
  background-color: var(--bg-color);
}

.modal-bg .warning {
  text-align: center;
  height: 30%;
  width: 60%;
  background-color: var(--bg-color);
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
}

#squadwarning h1 {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#squadwarning h2 {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#squadwarning button {
  margin-top: 1rem;
  font-size: 1rem;
  background-color: var(--bg-color);
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    #dbc49a 190%
  );
}
